header {
  .menu {
    padding: 18px 0;
    width: 60vw;
    justify-content: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: "Arimo", serif;
    font-size: 14px;
    font-weight: 200;
    margin: 0 auto;

    .links {
      display: flex;
      gap: 16px;
    }
  }

  .logo {
    img {
      width: 150px;
    }

    span:not(:first-child) {
      font-weight: 600;
    }
  }

  .menu-mobile {
    display: none;
  }

  @media (max-width: 1024px) {
    .menu {
      display: none;
    }

    .menu-mobile {
      padding: 18px 0;
      display: flex;
      width: 90vw;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;

      img {
        max-width: 150px;
        mix-blend-mode: multiply;
      }
    }
  }
}

::ng-deep .mat-mdc-menu-content {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #344767;
}

a.active {
  font-weight: bold;
  color: #2f3a4e;
  border-bottom: 1px solid #5e5e5e;
}
