.banner {
  width: 98vw;
  height: 70vh;
  margin: 0 auto;
  border-radius: 10px;
  background: radial-gradient(circle, #2f3349, #212833);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60vw;
  margin: 0 auto;
  align-items: center;
  height: 100%;

  .text {
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    .text--inicial {
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 26px;
    }

    .text--badge {
      padding: 5px;
      border-radius: 50px;
      background-color: #8d8d8d3f;
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;

      span {
        background-color: #17c1e8;
        padding: 1px 10px;
        font-size: 12px;
        border-radius: 50px;
        font-weight: 500;
      }
    }

    .text--slogan {
      color: #fa0283;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .text--main-text {
      font-size: 4rem;
      font-weight: 700;
    }
  }

  .text--banner-image {
    color: white;
    width: 500px;
    height: 300px;
    border-radius: 16px;
    justify-self: end;

    img {
      border-radius: 16px;
    }
  }
}

/* Estilos para telas maiores ou iguais a 768px */
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 16px;
    text-align: center;
  }

  .text--main-text01 {
    font-size: 3.8rem;
    font-weight: 700;
  }

  .text--main-text02 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .text--main-text-mobile {
    display: none;
  }

  .text--banner-image {
    display: none;
    text-align: center;
  }

  .text--inicial {
    font-size: 0.9rem !important;
    text-align: center;
  }

  .text--slogan {
    font-size: 1rem !important;
    text-align: center;
  }

  .text--badge {
    text-align: center;
  }

  app-button {
    text-align: center;
  }
}

/* Estilos para telas maiores ou iguais a 1200px */
@media (min-width: 1200px) {
  .text--main-text01 {
    font-size: 4rem;
    font-weight: 700;
  }

  .text--main-text02 {
    font-size: 3rem;
    font-weight: 700;
    color: #b2faff;
  }

  .text--inicial {
    font-size: 1rem !important;
  }

  .text--banner-image {
    width: 400px !important;
    height: 200px !important;

    img {
      border-radius: 16px;
    }
  }
}

@media (max-width: 1400px) {
  .text {
    gap: 25px !important;
  }
}
